<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/admin.css">
    <link rel="stylesheet" type="text/css" href="../../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../../styles/sidebar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <!-- Nội dung trang -->
    <div id="_next">
        <div class="layout-wrapper css-uinsfl">
            <div class="css-1e72eac">
                <%- include ("./ContainerLeft.ejs") %>
            </div>
            <div class="layout-content-wrapper css-34b9xr">
                <%- include ("./ContainerRight.ejs") %>
                
                <div id="upload" class="d-grid gap-2 d-md-flex mt-3 me-4" style="justify-content: flex-end;">
                    <button id="btn-new" class="btn btn-primary">New</button>
                    <%- include ("./CreateBlog.ejs") %>
                </div>
                <%- include ("./ContentBlog.ejs") %>

                <%- include ("../blogs/Pagination.ejs") %>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        const btnNew = document.getElementById('btn-new')
        const uploadBlog = document.getElementById('upload')
        const formStyle = document.getElementById('style-form')
        btnNew.addEventListener('click', function(){
            btnNew.style.display = 'none';
            // uploadBlog.style.position = 'absolute';
            uploadBlog.style.justifyContent = 'center';
            uploadBlog.style.marginBottom = '25%';
            formStyle.style.display = 'inline-block';
            formStyle.style.alignItems = 'content';
            formStyle.style.position = 'absolute';
            formStyle.style.zIndex = 2;
        })
    </script>

</body>
</html>